.user--profile--container{
    display: flex;

}
.user--profile--card{
    margin-top: 1rem;
    height: 400px;
    width: 300px;
    /* border: 1px solid black; */
    border-radius: 20px;
    box-shadow: 1px 1px 20px 1px rgb(134, 134, 134);
}

.user--profile--image{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.user--profile--content{
    margin-top: 1rem;
    width: 50%;
}

.profile--card--outter--container{
    display: flex;
    flex-direction: row;
}
.up--progress{
    width: 50%;
}
.profile--card--inner--container{
    width: 50%;
}

@media screen and (max-width: 900px){ 
    .user--profile--container{
        flex-direction: column;
    }
    .user--profile--card{
        width: 95%;
        height: 500px;
        align-self: center;
    }

    .user--profile--image{
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }

}