.chat{
    height: 100vh;
    /* display: flex; */
    /* justify-content: space-evenly; */
    width: 50%;
    position: relative;
}
.chat--box--header{
   display: flex;
   flex-direction: row; 
    /* width: 50vw; */
    background-color: #c4c2c2f1;
}
.chat--box--profile--image{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.chat--body{
    border: 1px solid black;
    height: 80vh;
    display: flex;
    flex-direction: column;
    /* overflow: scroll; */
    overflow-x: hidden;
    padding-bottom: .5rem;
}

.chat--message{
    display: flex;
    margin: 0 1rem;
    /* width: 80%; */
}
.sender{
    margin-right: 6rem;
}
.reciever{
    justify-content: flex-end;
    margin-left: 6rem;
}

.text--container{
    margin: .3rem;
    padding: .6rem;
    border-radius: 15px;
}

.blue{
    color: white;
    background-color: dodgerblue;
}

.gray{
    background-color: lightgray;
}

/* .chat--footer{
    position: absolute;
    bottom: 0px;
    margin-bottom: 1rem;
} */

.chat--input{
    margin: 1rem 0;
    width: 80%;
    outline: none;
}