.comment{
    background-color: rgb(216, 216, 216);
    margin: .5rem .5rem;
    display: flex;
    padding: .5rem;
    border-radius: 20px;
    margin-left: 0px;
}

.profile--comment{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    align-self: center;
    border: 2px solid rgb(99, 129, 218);
}

.pp--comment--none{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: dashed;
    background-color: rgb(190, 190, 190);
    font-weight: 550;
    border-radius: 50%;
}

.pp--comment--none > span{
    font-size: 15px;
}

.comment--content{
    margin-left: .5rem;
    font-size: 0.8rem;
    width: 80%;
}

.comment--text{
    margin: .5rem 0rem;
}

.comment--heart--container{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.comment--like--container {
    margin-left: .5rem;
    font-size: 0.7rem;
    cursor: pointer;
}

.comment--like--container > b {
    font-size: 0.7rem;
}

.comment--like--container:hover {
    text-decoration: underline;
}

.comment--details{
    font-size: .7rem;
    margin: 0px;
}

.comment--heart > svg{
    fill: black;
    height: 16px;
    width: 16px;
    cursor: pointer;
}

.black--heart--comment >svg{
    fill: black;
}

.red--heart--comment > svg{
    fill: red;
}

.text--none{
    text-decoration: none;
}

.comment--right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.comment--right > svg{
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin-bottom: 10px;
}

.comment--bottom--container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comment--form--container{
    width: 93%;
    background-color: rgba(227, 227, 227, 0.587);
    border-radius: 20px;
    height: 30px;
    display: flex;
    align-items: center;
    cursor: text;
    /* margin-top: 5px;; */
}

.comment--form--container > input{
    outline: none;
    border: none;
    background-color: transparent;
    margin-left: 10px;
    width: 90%
}

.comment--form--container > input::placeholder{
    user-select: none;
}

.username--comment{
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 690px){
    .comment--content{
        width: 75%;
    }
}