/* .top{
    background: linear-gradient(145deg, rgba(205,255,244,1) 0%, rgba(215,155,255,1) 100%);
    width: 200px;
    height: 100vh;
} */
.Mobile--nav{
    display: none;
}

.Nav--bar{
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 100vh;
    /* background: linear-gradient(145deg, rgba(205,255,244,1) 0%, rgba(215,155,255,1) 100%); */
    background-color: rgb(197, 196, 196);
    position: fixed;
    z-index: 1;
}

.nav--logo{
    height: 40px;
    width: 40px;
    margin:  0 0.5rem;
}
svg {
    height: 22px;
    width: 22px;
    color: black;
    fill: black;
}

.larger--icon> svg {
    height: 30px;
    width: 30px;
    margin-right: 5px;
}

.Logo{
    text-decoration: none;
    font-size: 1.2rem;
    width: 100%;
    display: flex;
    align-items: center;
    color: black;
    margin-top: 1rem;
}

.Logo> svg {
    height: 50px;
    width: 50px;
    margin: .5rem;

}

.Nav--row{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: .8rem;
    padding: .5rem 0; 
    padding-left: 1rem;
    width: 100%;
    background-color: rgb(197, 196, 196);
    width: 92%;
}

.Nav--row:hover{
    filter: brightness(110%);
    width: 93%;
    cursor: pointer;
    /* what is making the width 93% */
}

.Nav--row> span{
    color: black;
    margin-left: 1rem;
}

.top--nav--item{
    margin-top: 2rem;
}

.darker--bg{
    background-color: #808080;
    width: 92%;
    margin: 1px;
}

.push--bottom{
    position: absolute;
    bottom: 0px;
    margin-bottom: 1rem;
    width: 100%;
}

.notification--bell{
    position: relative;
}



.notification--count{
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    color: white;
}

/* @media screen and (max-width: 600px){ */
@media screen and (max-width: 900px){
    .Nav--bar{
        position: fixed;
        left: -230px;
        transition-duration: 200ms ;
    }
    
    .Mobile--nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        height: 65px;
        /* background: linear-gradient(145deg, rgba(205,255,244,1) 0%, rgba(215,155,255,1) 100%); */
        background-color: rgb(197, 196, 196);
        position: fixed;
        z-index: 11;
    }

    .Mobile--logo{
        text-decoration: none;
        font-size: 1.5rem;
        width: 100%;
        display: flex;
        align-items: center;
        color: black; 
    }

    .burger--menu{
        display: flex;
        flex-direction: column;
        cursor: pointer;
        margin-right: 1rem;
    }
    
    .hamburger{
        width: 30px;
        border-bottom: 1px solid black;
        border-width: 2.8px;
        margin: 3px;
    }
    
    .nav--x{
        cursor: pointer;
        margin-right: 1rem;
    }

    .display{
        position: fixed;
        left: 0px;
        width: 80vw;
        z-index: 10;
    }
    
}

