.notification--link{
    text-decoration: none;
    color: black;
}

.notification--item{
    display: flex;
    align-items: center;
    margin: .8rem;
    border-radius: 10px;
}


.notification--profile--pic{
    margin: 0px 1rem 0px .5rem;
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 50%;
}

.notification--pp--none{
    margin: 0px 1rem 0px .5rem;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: rgb(184, 184, 184);
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification--pp--none > span{
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
}

.notification--text> p{
    margin: 0px;
}

.notification--text2{
    font-size: 12px;
}

.unread{
    background-color: rgba(118, 209, 240, 0.425);
}