.Post--Modal--Container{
    height: 800px;
}

/* .Post--Modal--Span{
    width: 100%;
    border-top: 1px solid black;
} */

.post-general{
    width: 90%;
    background-color: rgba(227, 227, 227, 0.587);
    border-radius: 20px;
    display: flex;
    outline: none;
    border: none;
    height: 300px;
}


.Post--Form{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
}


.Post--Modal--User{
    display: flex;
}

.Post--Modal--User > p {
    font-weight: 600;
    margin-left: 5px;
}

.Post--Modal--PI{
    height: 60px;
    width: 60px; 
    border-radius: 50%;
    object-fit: cover;
}

.Post--Modal--Button{
    border-style: none;
    border-radius: 20px;
    background-color: black;
    color: white;
    padding: .3rem 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 550;
    letter-spacing: 1px;
    cursor: pointer;
}

.Blank--Image{
    height: 300px;
    width: 100%;
    background-color: rgb(234, 233, 233);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.Blank--Image:hover{
    background-color: rgb(223, 223, 223);
}

.Blank--Image > svg{
    width: 100px;
    height: 100px;
    fill: rgb(172, 172, 172);
}

.Blank--Image > p{
    color: rgb(172, 172, 172);
    font-weight: 700;
    margin: 0px;
    font-size: 1.5rem;
}


.Post--Modal--Image{
    object-fit: cover;
    height: 300px;
    width: 300px;
    /* width: 100%; */
    align-self: center;
    justify-self: center;
}

.Post--Modal--Main> textarea{
    margin-top: 10px;
    width: 95%;
    height: 50px;
    resize: None;
    font-family: 'Montserrat', sans-serif;
}
.Post--Modal--Main> textarea{
    margin-top: 10px;
    width: 95%;
    height: 50px;
    resize: None;
    font-family: 'Montserrat', sans-serif;

}.Post--Modal--Main> textarea:focus{
    outline: none;
}



.Post--Modal--Main> input[type=text]{
    height: 1rem;
}

.Post--Modal--Main> input[type=text]:focus{
    outline: none;
}

.Reading--List> input:focus{
    outline: none;
}

input::file-selector-button {
    border-style: none;
    border-radius: 20px;
    background-color: black;
    color: white;
    padding: .3rem 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 550;
    letter-spacing: 1px;
    cursor: pointer;
}

.Post--Modal--Main{
    height: 550px;
    margin: 1rem;
}



.Post--Progress--Bar{
    width: 100%;
    display: flex;
    justify-content: center;
}

.Post-Progress--Line{
    width: 60%;
    position: relative;
    /* border-top: 3px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.Progress--Cir, .Circ-2{
    background-color: rgb(201, 201, 201);
    height: 5px;
    width: 30px; 
    border-radius: 20%;
    position: absolute;
    top: -14px; 
}

.Circ--Active{
    /* background-color: rgb(26, 97, 174); */
    background-color: black;
}

.Circ-1{
    left: 0%;
}

.Circ-3{
    left: 91%; 
}

.Post--Modal--Bottom{
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-around;
    margin-top: 20px; 
}

.Reading--List{
    margin: 1rem;
    margin-top: 2rem;
    display: grid; 
    grid-template-columns: .4fr 1fr;
    grid-gap: 1rem;
}

.Workout--Block{
    display: grid;
    grid-template-columns: 1fr 1fr 50px 1fr;
    grid-gap: 1rem;
}

.hide--me{
    display: none;
}

.post--modal--image--div {
    display: flex;
    justify-content: center;
}

.post--modal--image--div > img{
    height: 400px;
    width: 90%;
    object-fit: cover;
}
