.search--bar{
    margin-top: 10px; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50px; 
    width: 1000px; 
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
    cursor: pointer;
}

.search--bar > svg{
    width: 25px;
    height: 25px;
    margin-right: 10px; 
    margin-left: 20px;
}

.search--bar > input{
    outline: none;
    border: none;
    background: transparent;
    color: black;
    width: 100%;
}

.search--bar > input::placeholder{
    color: rgb(36, 36, 36)
}

@media screen and (max-width: 1450px){
    .search--bar{
        width: 800px;
    }
}

@media screen and (max-width: 1270px){
    .search--bar{
        width: 600px;
    }
}