.top--bar--right > a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    cursor: pointer;
    z-index: 4;
}

.top--bar--right > a > p{
    margin: 0 20px 0 12px;
    font-size: .95rem;
    font-weight: 600;
}

.top--bar--right{
    position: relative;
}

.top--right--drop{
    position: absolute;
    top: 48px;
    left: 5px;
    padding-top: 10px;
    width: 180px;
    height: 30px;
    border-radius: 10px;
    display: none;
    background-color: rgb(163, 163, 163);
    z-index: 1;
}

.top--bar--right:hover .top--right--drop{
    display: block;
}

.top--right--inner{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

top--right--inner> span{
    margin-left: 100px;
}

.margin--left{
    margin-left: 20px;
}