.user--search--card{
    text-decoration: none;
    height: 130px;
    width: 350px;
    border: .5px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    margin: 5px;
}

.profile--container{
    margin-left: 8px;
}

.user--search--link{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    color: black;
}

.user--search--cardName{
    margin: 0px;
}

.smaller--name{
    font-size: 1.1rem;
    font-weight: 400;
    margin: 1px;
    margin-bottom: 20px;
}

.user--card--testing{
    color: red;
    text-decoration: none;
}